openapi: 3.0.3
info:
  title: Smart Money API
  version: 1.0.0
  description: |-
    Real-time smart-money intelligence from smartmoneyapi.com: cross-exchange derivatives aggregation (Bybit, Binance, Hyperliquid), 2000+ tracked whale wallets, liquidation streams, options, ETF flows, on-chain metrics and news intelligence. Public endpoints work without a key (reduced rows / per-IP throttle); an X-API-Key unlocks tier quotas and the gated endpoints.

    Free tier: 200 calls/day, 4/minute, BTC, ETH, SOL, XAU, XAG only, no data delay.

    Every operation carries x-auth (none|required) and x-tier, both derived from the gateway source and plans.json rather than written by hand. Generated by ops/gen_openapi.py.

    HOW THIS FILE IS PRODUCED — it is generated, never hand-edited.

    It is a filtered mirror of the document the API itself serves at https://smartmoneyapi.com/openapi.json, emitted by tools/build_public_spec.py in github.com/tashiardit/smartmoneyapi-docs. An operation from the live document appears here iff all three hold:

      1. The method is GET. This mirror is a read-only DATA contract; nothing that mutates state or account configuration is published, so a client generated from this file cannot change anything in an account.
      2. It carries x-auth and x-tier. Upstream those are derived from the gateway's own public-endpoint set and from plans.json rather than written by hand, so the gating printed on each operation here is the gating the server enforces.
      3. Its namespace is not account-management or internal — the withheld set is listed in tools/build_public_spec.py with a reason for each, and covers routes that act on your account (alerts, webhooks, watchlist, portfolio, preferences, referrals, usage, telegram, assistant, purchases, socket tickets) or on our own operations.

    One stated exception to (1): the /rpc/v1/* JSON-RPC proxies are POST because JSON-RPC is a POST protocol, not because they change anything of ours. They proxy read-only node calls, so they are published.

    Paid tiers ARE published: you should be able to read the exact shape of what a subscription returns before paying for it. Per-operation x-auth says whether a key is needed at all; x-tier names the plan that unlocks it. Public operations answer without a key at a reduced row cap and a per-IP throttle.

    Mirror generated 2026-10-08 from https://smartmoneyapi.com/openapi.json: 249 of 306 live paths.
  contact:
    url: https://smartmoneyapi.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.smartmoneyapi.com
security:
- ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /openapi.json:
    get:
      summary: This OpenAPI document
      description: The machine-readable OpenAPI 3 description of this API. Served by the gateway and regenerated
        by ops/gen_openapi.py.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  components:
                    type: object
                  info:
                    type: object
                  openapi:
                    type: string
                  paths:
                    type: object
                  security:
                    type: array
                  servers:
                    type: array
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Meta
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_openapi_json
      x-response-measured: '2026-10-08'
      x-response-note: Field names and types below were recorded from one real response on 2026-10-08,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /rpc/v1/avax-c:
    post:
      summary: Avalanche C-Chain JSON-RPC
      description: JSON-RPC proxy to the Avalanche C-Chain. rpc_ key required.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
      operationId: post_rpc_v1_avax_c
  /rpc/v1/avax-info:
    post:
      summary: Avalanche info JSON-RPC
      description: JSON-RPC proxy to the Avalanche info API. rpc_ key required.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
      operationId: post_rpc_v1_avax_info
  /rpc/v1/avax-p:
    post:
      summary: Avalanche P-Chain JSON-RPC
      description: JSON-RPC proxy to the Avalanche P-Chain. rpc_ key required.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
      operationId: post_rpc_v1_avax_p
  /rpc/v1/avax-x:
    post:
      summary: Avalanche X-Chain JSON-RPC
      description: JSON-RPC proxy to the Avalanche X-Chain. rpc_ key required.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
      operationId: post_rpc_v1_avax_x
  /rpc/v1/bsc:
    post:
      summary: BSC JSON-RPC
      description: JSON-RPC proxy to the self-hosted BSC full node. Authenticated with a dedicated rpc_
        key, NOT the main API key, and metered separately from the plans.json call quotas.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
      operationId: post_rpc_v1_bsc
  /rpc/v1/health:
    get:
      summary: RPC health
      description: Health of the resold BSC/Avalanche JSON-RPC endpoints. Public.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: object
                  plans:
                    type: array
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - JSON-RPC
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_rpc_v1_health
      x-response-measured: '2026-10-08'
      x-response-note: Field names and types below were recorded from one real response on 2026-10-08,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/analysis:
    get:
      summary: AI market analysis
      description: 'Latest AI-written market commentary over the aggregated data. Commentary only — it
        is not a prediction and carries no measured edge. It includes a `recommendation`, so the response
        carries `operator_position_disclosure` for its symbol, dated when served. `provider` says where
        it ran: `local` (the operator''s own hardware) or `hosted` (a hosted model service); the exact
        model is named in `ai_backend`. It covers BTC, ETH and SOL only; any other symbol is refused with
        400 `symbol_not_covered`, naming what is covered. A covered symbol with no reading yet answers
        202 `not_cached` with an `engine` state (as under /v1/analysis/status) and a `message`; readings
        are generated when requested, and the first request may take up to a few minutes.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '202':
          description: 'No reading is cached for this symbol yet. This is the normal first answer: readings
            are generated when requested, so this request is what asks for one. Ask again after a short
            wait; the first request may take up to a few minutes. `engine` says what the engine is doing,
            for this symbol.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbol:
                    type: string
                    description: The symbol asked for.
                  status:
                    type: string
                    enum:
                    - not_cached
                  engine:
                    type: string
                    enum:
                    - on_demand
                    - warming
                    - unavailable
                    description: 'What the engine is doing, as under /v1/analysis/status. Never `ok` or
                      `stale`: those need a cached reading, which this answer lacks.'
                  message:
                    type: string
                    description: The engine's state in plain language, for this symbol.
                example:
                  symbol: BTC
                  status: not_cached
                  engine: on_demand
                  message: AI regime readings are generated when requested; the first request may take
                    up to a few minutes.
                required:
                - symbol
                - status
                - engine
                - message
        '400':
          description: 'A symbol the AI regime engine does not cover (it covers BTC, ETH and SOL only).
            Nothing is read and no reading is requested; `error` is `symbol_not_covered` and `covered_symbols`
            lists what is covered. Also: error=non_canonical_path: Request paths must be canonical: no
            ''.'' or ''..'' segments, no empty segments (''//''), no backslashes, and no percent-encoded
            ''.'', ''/'' or ''\''. Send the path as documented. Refused before routing, on every route;
            `reason` is one of dot_segment, empty_segment, backslash, encoded_separator. The query string
            is never checked; one trailing slash and any letter case are accepted.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - symbol_not_covered
                    - non_canonical_path
                  message:
                    type: string
                  symbol:
                    type: string
                    description: The symbol as sent, capped at 24 characters (symbol_not_covered only).
                  covered_symbols:
                    type: array
                    items:
                      type: string
                    description: What the engine covers (symbol_not_covered only).
                  reason:
                    type: string
                    enum:
                    - dot_segment
                    - empty_segment
                    - backslash
                    - encoded_separator
                    description: Why the path was refused (non-canonical path refusals only).
                example:
                  error: symbol_not_covered
                  message: DOGE is not covered by the AI regime engine, which covers BTC, ETH, SOL only.
                  symbol: DOGE
                  covered_symbols:
                  - BTC
                  - ETH
                  - SOL
                required:
                - error
                - message
        '403':
          description: 'The caller''s tier is below Pro: the route''s own last check. A plan that does
            not include this route is normally answered first, with the 402 above and an upgrade prompt.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - forbidden
                  message:
                    type: string
                example:
                  error: forbidden
                  message: AI analysis requires the Pro tier
                required:
                - error
                - message
        '503':
          description: The gateway has no connection to the analysis cache, so no reading can be served
            or requested. Retry shortly.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - service_unavailable
                  message:
                    type: string
                required:
                - error
                - message
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Intelligence
      x-auth: required
      x-tier: Pro (15,000 calls/day)
      operationId: get_v1_analysis
  /v1/analysis/status:
    get:
      summary: AI analysis status
      description: 'Freshness and availability of the AI analysis loop, with the public regime teaser:
        per symbol, `regime` and `regime_label` (an opinion on the asset, e.g. "Strong bullish trend").
        `engine` is `ok`, `stale`, `warming` (just started, or generating now), `on_demand` (healthy and
        idle: readings are generated when requested, so an empty cache is normal until someone asks) or
        `unavailable` (a failed or paused run, a loop that is not reporting, or a cache that cannot be
        read; this route then answers HTTP 503). While no reading is cached, `message` says why. Every
        row carries `operator_position_disclosure`, dated when the response is served.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  as_of: {}
                  cached_count:
                    type: integer
                  engine:
                    type: string
                  fresh_count:
                    type: integer
                  full_analysis:
                    type: object
                  message:
                    type: string
                  note:
                    type: string
                  requested_count:
                    type: integer
                  stale_after_seconds:
                    type: integer
                  symbols:
                    type: array
        '429':
          description: Rate limit exceeded
        '503':
          description: 'The engine is unavailable: a failed or paused run, a loop that is not reporting,
            or a cache that cannot be read. The body has the same shape as the 200: `engine` is `unavailable`,
            and `message` says why while no reading is cached (`reason` instead when the gateway has no
            connection to the cache).'
          content:
            application/json:
              schema:
                type: object
                properties:
                  engine:
                    type: string
                    enum:
                    - unavailable
                  message:
                    type: string
                    description: Why, in plain language, while no reading is cached. Absent when every
                      cache read failed and when the gateway has no connection to the cache.
                  reason:
                    type: string
                    description: Present instead of `message` when the gateway has no connection to the
                      analysis cache.
                  symbols:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                        regime:
                          type: string
                          nullable: true
                        regime_label:
                          type: string
                          nullable: true
                        age_seconds:
                          type: integer
                          nullable: true
                        stale:
                          type: boolean
                          nullable: true
                      required:
                      - symbol
                      - regime
                      - regime_label
                      - age_seconds
                      - stale
                    description: One row per covered symbol; empty when the gateway has no connection
                      to the analysis cache.
                  cached_count:
                    type: integer
                  fresh_count:
                    type: integer
                    description: Absent when the gateway has no connection to the analysis cache.
                  requested_count:
                    type: integer
                  as_of:
                    type: string
                    format: date-time
                    nullable: true
                    description: When the newest cached reading was made; null when none is cached.
                  stale_after_seconds:
                    type: integer
                  note:
                    type: string
                  full_analysis:
                    type: object
                    description: Where the full reading is served.
                    properties:
                      endpoint:
                        type: string
                      tier:
                        type: string
                example:
                  engine: unavailable
                  message: The last AI generation run did not produce a reading; it retries automatically.
                  symbols:
                  - symbol: BTC
                    regime: null
                    regime_label: null
                    age_seconds: null
                    stale: null
                  - symbol: ETH
                    regime: null
                    regime_label: null
                    age_seconds: null
                    stale: null
                  - symbol: SOL
                    regime: null
                    regime_label: null
                    age_seconds: null
                    stale: null
                  cached_count: 0
                  fresh_count: 0
                  requested_count: 3
                  as_of: null
                  stale_after_seconds: 21600
                  note: 'Public status teaser: regime label and age only. Regime classification is descriptive,
                    not a prediction.'
                  full_analysis:
                    endpoint: /v1/analysis
                    tier: pro
                required:
                - engine
                - symbols
                - cached_count
                - requested_count
                - as_of
                - full_analysis
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Intelligence
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_analysis_status
      x-response-measured: '2026-10-08'
      x-response-note: Field names and types below were recorded from one real response on 2026-10-08,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/billing/regime:
    get:
      summary: VAT regime in force
      description: |-
        The Italian VAT regime this business invoices under, read from `api_service/plans.json` — the single source of truth — and resolved for today. Public and keyless because peer systems (and anyone checking an invoice) must be able to read it without an account.

        RESOLVE IT FOR THE INVOICE'S OWN DATE, NOT FOR 'NOW'. The regime is a property of the operation date (`DataDocumento`), so an invoice issued before a regime change keeps the regime that was in force when it was issued. `regime_today` is a convenience for the common case; it is not a licence to stamp today's regime onto a back-dated document.

        `cache_s` is how long a caller may hold this before re-reading. An unreadable or malformed flag answers 503 rather than guessing a regime, so a peer keeps its last-good value instead of caching a fabricated one.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: VAT_REGIME is the flag peers read; `vat` is the full configuration behind
                  it.
                properties:
                  VAT_REGIME:
                    type: string
                  as_of:
                    type: string
                  cache_s:
                    type: integer
                  note:
                    type: string
                  regime_today:
                    type: string
                  schema_version:
                    type: integer
                  source:
                    type: string
                  vat:
                    type: object
                example:
                  schema_version: 1
                  VAT_REGIME: forfettario
                  vat:
                    regime: forfettario
                    effective_from: null
                    country: IT
                    rate: 0.22
                    crossed_100k_at: null
                    oss_registered: false
                  regime_today: forfettario
                  as_of: '2026-09-17T15:36:42+00:00'
                  source: api_service/plans.json
                  cache_s: 60
                  note: 'The regime is a property of the operation date: resolve it for the invoice''s
                    own DataDocumento, never for ''now''.'
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Meta
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_billing_regime
      x-response-measured: '2026-10-08'
      x-response-note: Field names and types below were recorded from one real response on 2026-10-08,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/confirm:
    get:
      summary: Smart-money confirmation
      description: 'Score a trade the caller is about to take. One request reads the aggregated Bybit/Binance/Hyperliquid
        derivatives, on-chain metrics and tracked whale positioning for the symbol, and returns a verdict
        with the full arithmetic behind it: per-component scores and weights (`factors`), every signed
        modifier (`adjustments`), which data families actually had data (`coverage`), and per-source provenance
        and staleness (`meta`). A component with no data contributes a neutral 0 and the other weights
        are not rescaled to cover for it; `coverage` says which data families had data, and a leg withheld
        for licence reasons is null in its score, has weight 0 and is named in `withheld_sources`. This
        is an aggregation and transparency endpoint: it does not predict price, and `confidence` is not
        a probability. Free tier: BTC, ETH, SOL, XAU, XAG; no added delay; these fields are stripped from
        the body: deriv_score, details, onchain_score, reasons, whale_score.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: 'Confirmation verdict for the requested symbol and direction. Field presence
                  is tier-dependent: plans.json strip_fields removes evidence fields on restricted tiers,
                  and the NO_DATA branch omits the scored-branch fields, so only the verdict fields are
                  required.'
                properties:
                  action:
                    type: string
                    enum:
                    - CONFIRM_FULL
                    - CONFIRM_REDUCED
                    - CONFIRM_MINIMAL
                    - VETO_SKIP
                    - NO_DATA_SKIP
                    description: 'The verdict. NO_DATA_SKIP is deliberately distinct from VETO_SKIP: it
                      means nothing was measured, not that the data was negative.'
                  decision:
                    type: string
                    enum:
                    - CONFIRM
                    - REDUCE
                    - SKIP
                    - ABSTAIN
                    description: Canonical coarse enum derived from confidence/action. ABSTAIN covers
                      both LOW confidence and NO_DATA. Prefer this for branching.
                  confidence:
                    type: string
                    enum:
                    - HIGH
                    - MEDIUM
                    - LOW
                    - VETO
                    - NO_DATA
                    description: Bucketed composite. NOT a probability and NOT calibrated to any hit rate.
                  composite:
                    type: number
                    minimum: -1.5
                    maximum: 1.5
                    description: 'Final score for the requested direction after weighting and adjustments.
                      Unitless: not a price target and not an expected return.'
                  base_composite:
                    type: number
                    description: Weighted factor sum BEFORE the `adjustments` are applied. Absent on the
                      blacklist-VETO and NO_DATA branches.
                  size_mult:
                    type: number
                    minimum: 0
                    maximum: 1
                    description: 'Suggested fraction of the caller''s normal position size for this confidence
                      bucket, after a liquidation-distance reduction. Not risk management: it knows nothing
                      about the caller''s account.'
                  unsupported:
                    type: boolean
                    description: true only when the symbol is outside the tracked universe (no derivatives
                      AND no whale data). Then action=NO_DATA_SKIP and every *_score is a zero meaning
                      'not measured'.
                  deriv_score:
                    type: number
                    minimum: -1
                    maximum: 1
                    description: 'Component score in [-1, +1], oriented to the requested direction: positive
                      supports it.'
                  onchain_score:
                    type: number
                    minimum: -1
                    maximum: 1
                    description: 'Component score in [-1, +1], oriented to the requested direction: positive
                      supports it.'
                  whale_score:
                    type: number
                    minimum: -1
                    maximum: 1
                    description: 'Component score in [-1, +1], oriented to the requested direction: positive
                      supports it.'
                  x_score:
                    type: number
                    enum:
                    - 0
                    description: Always 0. The X/social sentiment input is switched off and its weight
                      is renormalised to 0, so it cannot move the composite. Kept in the payload for client
                      compatibility.
                  coverage:
                    type: object
                    description: Which data families actually returned something. false means UNKNOWN
                      — that component had no data and contributes a neutral 0; the other weights are
                      not rescaled to cover for it. A leg withheld for licence reasons is null in its
                      score, has weight 0 and is named in `withheld_sources`.
                    properties:
                      derivatives:
                        type: boolean
                      whale:
                        type: boolean
                      onchain:
                        type: boolean
                  factors:
                    type: object
                    description: Per-component line items of the composite. Empty object {} on the NO_DATA
                      branch.
                    properties:
                      derivatives:
                        type: object
                        description: One line item of the composite.
                        properties:
                          score:
                            type: number
                            minimum: -1
                            maximum: 1
                            description: 'Component score in [-1, +1], oriented to the requested direction:
                              positive supports it.'
                          weight:
                            type: number
                            description: Nominal weight of this component in the composite.
                          weighted:
                            type: number
                            description: score x weight — this component's actual contribution to base_composite.
                      onchain:
                        type: object
                        properties:
                          score:
                            type: number
                            minimum: -1
                            maximum: 1
                            description: 'Component score in [-1, +1], oriented to the requested direction:
                              positive supports it.'
                          weight:
                            type: number
                          weighted:
                            type: number
                          source:
                            type: string
                            description: Which on-chain provider produced the score, e.g. coinmetrics_community,
                              glassnode, none.
                          available:
                            type: boolean
                      whale:
                        type: object
                        properties:
                          score:
                            type: number
                            minimum: -1
                            maximum: 1
                            description: 'Component score in [-1, +1], oriented to the requested direction:
                              positive supports it.'
                          weight:
                            type: number
                          weight_effective:
                            type: number
                            description: weight x staleness_factor — the weight actually used.
                          staleness_factor:
                            type: number
                            minimum: 0
                            maximum: 1
                            description: Decay applied when the whale consensus snapshot is old.
                          weighted:
                            type: number
                      x_sentiment:
                        type: object
                        description: One line item of the composite.
                        properties:
                          score:
                            type: number
                            minimum: -1
                            maximum: 1
                            description: 'Component score in [-1, +1], oriented to the requested direction:
                              positive supports it.'
                          weight:
                            type: number
                            description: Nominal weight of this component in the composite.
                          weighted:
                            type: number
                            description: score x weight — this component's actual contribution to base_composite.
                  adjustments:
                    type: object
                    description: Every post-scoring modifier, signed. base_composite plus these gives
                      composite, so a verdict is never a black box.
                    properties:
                      agreement:
                        type: number
                      trend:
                        type: number
                      rsi_1h:
                        type: number
                      news_macro:
                        type: number
                      momentum:
                        type: number
                      time_of_day:
                        type: number
                      streak_decay:
                        type: number
                  weights:
                    type: object
                    description: The weight set actually used for this call.
                    properties:
                      derivatives:
                        type: number
                      onchain:
                        type: number
                      whale_intel:
                        type: number
                  weights_mode:
                    type: string
                    description: Which weight set was selected, e.g. free, full, free_x, full_x.
                  reasons:
                    type: array
                    items:
                      type: string
                    description: One human-readable line per contributing observation and per non-zero
                      adjustment. Stripped on tiers whose plans.json strip_fields lists it.
                  details:
                    type: object
                    description: Raw inputs behind each component (derivatives, onchain, whale, x_sentiment)
                      so the score can be recomputed. Stripped on tiers whose plans.json strip_fields
                      lists it.
                  meta:
                    type: object
                    description: Proof-carrying provenance for the verdict.
                    properties:
                      source:
                        type: object
                        description: Which table/provider each component came from.
                      source_ts:
                        type: object
                        description: Unix second of each component's underlying data, or null when unknown.
                      age_s:
                        type: object
                        description: Seconds since each component's source_ts, or null when unknown.
                      coverage:
                        type: object
                        description: Copy of the top-level coverage object.
                      stale:
                        type: boolean
                        description: true when ANY component is past its freshness budget or has no timestamp.
                      stale_by_source:
                        type: object
                        description: Per-component staleness flags.
                      model_version:
                        type: string
                      expires_at:
                        type: integer
                        description: Unix second after which this verdict should be recomputed.
                  multi_timeframe:
                    type: object
                    description: The same component scores re-weighted for short / medium / long horizons,
                      each with composite, confidence, weights_used and timeframe_label. Horizons are
                      tier-gated. A leg withheld for licence reasons (null score) has weight 0 in every
                      horizon and the other weights are not rescaled to cover for it; while a leg is withheld
                      a horizon reads HIGH only when the headline `confidence` is HIGH, otherwise MEDIUM
                      at most.
                  personalized:
                    type: object
                    description: The caller's saved risk tolerance and base trade size turned into a suggested
                      USD figure. Carries its own disclaimer field. Arithmetic on caller-supplied numbers,
                      not advice.
                  ai_analysis:
                    type: object
                    description: 'LLM summary of the SAME numbers (regime, conflicts, risk factors) plus
                      provider (`local` or `hosted`: where it ran), ai_backend and generation_time_ms.
                      It has no extra information; if it disagrees with `composite`, `composite` is the
                      machine-readable answer.'
                  symbol:
                    type: string
                    description: Echo of the requested base symbol.
                  direction:
                    type: string
                    enum:
                    - long
                    - short
                    description: Echo of the direction that was scored.
                  ts:
                    type: integer
                    description: Unix second the verdict was computed.
                  source:
                    type: string
                    description: Caller-supplied ?source= tag, echoed back.
                  model_version:
                    type: string
                    description: Scoring model version. Scores are not comparable across a change of this
                      value.
                  operator_position_disclosure:
                    type: object
                    description: 'Whether the operator''s automated trading accounts hold a position in
                      the asset (MiCA Art. 91(2)(c) conflict disclosure). A historical signal carries
                      the value recorded when it was published; one with no record is ''unavailable''.
                      Unavailable value: {"status": "unavailable", "side": null, "as_of": null, "source_age_s":
                      null, "text": "Operator position data is unavailable right now; the operator''s
                      automated trading accounts may hold a position in this asset."}.'
                    properties:
                      symbol:
                        type: string
                        description: Normalised base asset (BTCUSDT, BTC-PERP -> BTC).
                      status:
                        type: string
                        enum:
                        - holding
                        - not_holding
                        - unavailable
                        description: not_holding is asserted only from position data at most 900 s old;
                          stale, missing or unreadable data is unavailable.
                      side:
                        type: string
                        nullable: true
                        description: long, short or mixed (opposite sides across accounts) when holding
                          and the side is known. null when not holding or unavailable, and also when holding
                          while an account that is stale, stopped or unreadable may hold the asset on
                          another side (the text then says "hold a position").
                      as_of:
                        type: string
                        nullable: true
                        description: UTC time of the position data, YYYY-MM-DDTHH:MM:SSZ; null when unavailable.
                      source_age_s:
                        type: integer
                        nullable: true
                        description: Age of that data in seconds when the disclosure was made; null when
                          unavailable.
                      text:
                        type: string
                        description: The sentence to show next to the signal.
                    example:
                      symbol: BTC
                      status: holding
                      side: long
                      as_of: '2026-10-01T16:00:00Z'
                      source_age_s: 42
                      text: The operator's automated trading accounts hold a long position in BTC (as
                        of 2026-10-01 16:00 UTC).
                    required:
                    - symbol
                    - status
                    - side
                    - as_of
                    - source_age_s
                    - text
                required:
                - ts
                - symbol
                - direction
                - action
                - confidence
                - composite
                - size_mult
                - model_version
                - operator_position_disclosure
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      - name: direction
        in: query
        description: Trade direction to confirm.
        schema:
          type: string
          default: long
          enum:
          - long
          - short
      - name: account_size
        in: query
        description: Account size in USD for Kelly position sizing (Pro only).
        schema:
          type: number
      x-tier: Free (200 calls/day)
      tags:
      - Signals
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_confirm
  /v1/copy-engine/history:
    get:
      summary: 'Our copy-trading engine (experimental): order history (executed orders)'
      description: 'Executed orders of our own copy-trading accounts, newest first. pnl_status is known,
        unknown (realized_pnl is null: no stored exit) or not_applicable (opens and adds). Failed orders
        in the same window are not listed; failed_count counts them.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: wallet
        in: query
        description: Source wallet address, exact match.
        schema:
          type: string
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
      - name: days
        in: query
        description: Look-back window in days.
        schema:
          type: integer
          default: 30
          minimum: 1
          maximum: 365
      - name: limit
        in: query
        description: Max rows returned.
        schema:
          type: integer
          default: 100
          minimum: 1
          maximum: 500
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Copy-trading
      x-auth: required
      x-tier: Pro (15,000 calls/day)
      operationId: get_v1_copy_engine_history
  /v1/copy-engine/leaderboard:
    get:
      summary: 'Our copy-trading engine (experimental): source wallets, by our executed PnL'
      description: 'Source wallets our own copy-trading accounts copied, ranked by the realized PnL of
        OUR executed copies (closing orders with a stored exit price only; up to 50 rows). Not the source
        wallets'' own record, not a ranking of skilled traders and not a signal. Failed orders enter no
        figure and are counted in failed_count; executed closing orders without a stored exit are counted
        in pnl_unknown. Every response carries scope "our copy-trading engine (experimental): executed
        orders of our own copy-trading accounts, not the source wallets'' own trading record".'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Copy-trading
      x-auth: required
      x-tier: Pro (15,000 calls/day)
      operationId: get_v1_copy_engine_leaderboard
  /v1/copy-engine/performance:
    get:
      summary: 'Our copy-trading engine (experimental): daily PnL (executed orders)'
      description: 'One row per UTC calendar day in the last `days` days, today included, on which our
        own copy-trading accounts placed any order: PnL and trade counts from executed orders only, with
        executed_count, failed_count and pnl_unknown per day.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: days
        in: query
        description: Calendar days back, today included.
        schema:
          type: integer
          default: 30
          minimum: 1
          maximum: 365
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Copy-trading
      x-auth: required
      x-tier: Pro (15,000 calls/day)
      operationId: get_v1_copy_engine_performance
  /v1/copy-engine/summary:
    get:
      summary: 'Our copy-trading engine (experimental): totals (executed orders)'
      description: 'Totals over our own copy-trading accounts'' executed orders: total_trades, wins, losses,
        win_rate and total_pnl over closing orders with a known PnL (before fees), plus executed_count,
        failed_count, pnl_unknown and last_executed_at. These are OUR engine''s results, not any trader''s.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Copy-trading
      x-auth: required
      x-tier: Pro (15,000 calls/day)
      operationId: get_v1_copy_engine_summary
  /v1/copy-trading/overview:
    get:
      summary: Copy-trading overview
      description: 'Aggregate stats for the latest whale-position snapshot: active wallets, total positions,
        realized PnL, win rate.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_wallets:
                    type: integer
                  total_positions:
                    type: integer
                  snapshot_ts:
                    type: integer
                  performance:
                    type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      x-tier: Pro (15,000 calls/day)
      tags:
      - Copy-trading
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
      operationId: get_v1_copy_trading_overview
  /v1/copy-trading/performance:
    get:
      summary: Copy-trading per-symbol performance
      description: Per-symbol aggregate PnL across all tracked whale wallets in the latest snapshot.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      x-tier: Pro (15,000 calls/day)
      tags:
      - Copy-trading
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
      operationId: get_v1_copy_trading_performance
  /v1/copy-trading/positions:
    get:
      summary: Whale positions
      description: All whale positions in the latest snapshot, ordered by USD value.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  positions:
                    type: array
                  snapshot_ts:
                    type: integer
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: limit
        in: query
        description: Max positions, capped at 1000.
        schema:
          type: integer
          default: 200
          maximum: 1000
      x-tier: Pro (15,000 calls/day)
      tags:
      - Copy-trading
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
      operationId: get_v1_copy_trading_positions
  /v1/copy-trading/shadow:
    get:
      summary: Shadow book
      description: The shadow (paper) copy-trading book. Published together with the measured verdict
        that the v3 overlay showed no durable out-of-sample edge and is not shipped as a product.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Copy-trading
      x-auth: required
      x-tier: Pro (15,000 calls/day)
      operationId: get_v1_copy_trading_shadow
  /v1/copy-trading/wallets:
    get:
      summary: Tracked whale wallets
      description: Distinct whale wallets in the latest snapshot with position counts, total value and
        PnL.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                  snapshot_ts:
                    type: integer
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      x-tier: Pro (15,000 calls/day)
      tags:
      - Copy-trading
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
      operationId: get_v1_copy_trading_wallets
  /v1/cot/comparison:
    get:
      summary: COT comparison
      description: COT positioning compared across the tracked contracts.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_cot_comparison
  /v1/cot/history:
    get:
      summary: COT history
      description: Historical COT positioning series.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      - name: weeks
        in: query
        description: Weeks of history.
        schema:
          type: integer
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_cot_history
  /v1/cot/positioning:
    get:
      summary: COT positioning
      description: 'CFTC Commitments of Traders categories for BTC, ETH, XAU or XAG with percentiles computed
        only from reports published by as_of. Disclosed positioning of a legally defined category, published
        Friday for the prior Tuesday. Source: CFTC Commitments of Traders. Public.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  as_of:
                    type: integer
                    description: When the response was assembled -- never the data time (see `updated`,
                      `freshness`).
                  updated:
                    type: integer
                    description: The datum time (freshness.source_timestamp); absent when nothing measured
                      dates the body.
                  venue:
                    type: string
                  scope:
                    type: string
                  licence_class:
                    type: string
                  rights:
                    type: object
                  freshness:
                    type: object
                    description: 'Computed when the response is SERVED, not when it was cached: a last-good
                      copy older than stale_after_s reads `stale`.'
                    properties:
                      source_timestamp:
                        type: integer
                        nullable: true
                      received_at:
                        type: integer
                        nullable: true
                      staleness_s:
                        type: integer
                        nullable: true
                      stale_after_s:
                        type: integer
                        nullable: true
                      coverage_status:
                        type: string
                        enum:
                        - complete
                        - partial
                        - stale
                        - missing
                        - unreadable
                      served_at:
                        type: integer
                      error:
                        type: string
                      last_refresh_error:
                        type: object
                  versions:
                    type: object
                  data_mode:
                    type: string
                    nullable: true
                    enum:
                    - live
                    - backfilled
                    - null
                    description: live or backfilled; null where no capture backs the body (e.g. /validation,
                      which is derived, before its first run).
                  basis:
                    type: string
                  note:
                    type: string
                  meta:
                    type: object
                    description: 'Read from `freshness` alone: no measured source timestamp -> state unknown,
                      stale true.'
                    properties:
                      source_ts:
                        type: integer
                        nullable: true
                      age_s:
                        type: integer
                        nullable: true
                      state:
                        type: string
                        enum:
                        - fresh
                        - stale
                        - unknown
                      stale:
                        type: boolean
                  symbol:
                    type: string
                  market:
                    type: object
                  report_family:
                    type: string
                  report_name:
                    type: string
                  report_date:
                    type: string
                  report_as_of:
                    type: object
                  released_ts:
                    type: integer
                  available_ts:
                    type: integer
                  lookback_weeks:
                    type: integer
                  n_obs:
                    type: integer
                  expected_obs:
                    type: integer
                  window_complete:
                    type: boolean
                  window:
                    type: object
                  methods:
                    type: object
                  categories:
                    type: array
                  rows_excluded:
                    type: object
                  caveats:
                    type: array
                  validation:
                    type: object
                  source:
                    type: string
                  data_mode_counts:
                    type: object
                  dataset_id:
                    type: string
                  metric:
                    type: string
                  availability_rule:
                    type: string
        '429':
          description: Rate limit exceeded
        '400':
          description: 'invalid_param: a parameter is malformed or out of range. Also: error=non_canonical_path:
            Request paths must be canonical: no ''.'' or ''..'' segments, no empty segments (''//''),
            no backslashes, and no percent-encoded ''.'', ''/'' or ''\''. Send the path as documented.
            Refused before routing, on every route; `reason` is one of dot_segment, empty_segment, backslash,
            encoded_separator. The query string is never checked; one trailing slash and any letter case
            are accepted.'
        '451':
          description: 'withheld_for_licence: the rights registry has not cleared this dataset for this
            use. The body names the registry_key.'
        '503':
          description: 'smart_money_unavailable / source_unavailable: the store is not readable or not
            built yet; not_available: the data module is not deployed. Never 502/504.'
      parameters:
      - name: symbol
        in: query
        description: Market.
        schema:
          type: string
          default: BTC
          enum:
          - BTC
          - ETH
          - XAU
          - XAG
      - name: lookback_weeks
        in: query
        description: Percentile window.
        schema:
          type: integer
          default: 156
          enum:
          - 52
          - 156
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-rapidapi:
        listed: false
        reason: validation accruing; RapidAPI plans are an unguarded mirror
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_cot_positioning
  /v1/cot/summary:
    get:
      summary: COT summary
      description: CFTC Commitments of Traders positioning summary.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_cot_summary
  /v1/cot/trend:
    get:
      summary: COT trend
      description: Trend in COT net positioning.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_cot_trend
  /v1/coverage:
    get:
      summary: Derivatives field coverage matrix
      description: How completely each tracked field (funding, open interest, long/short ratio, ...) is
        populated per venue over a lookback window, plus one symbol's per-venue/per-field detail when
        `?symbol=` is given. `venues_registry_only` names venues the instrument registry knows about but
        that never actually wrote a row in the window -- a registry entry is not evidence of collection.
        `listing_source` and `declaration` carry the metadata this matrix reasons from (what we believe
        is listed, and on what evidence) alongside `declaration_conflicts`, so a coverage gap can be told
        apart from a symbol that was never listed anywhere. `window_seconds` is clamped to [3600, 604800]
        (1h-7d); an out-of-range or unparsable value falls back to the clamped/default value rather than
        erroring. `?symbol=` other than alphanumeric/`_`/`-` is a 400 `bad_symbol`.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  generated_at:
                    type: integer
                  source_table:
                    type: string
                  window:
                    type: object
                  symbols_observed:
                    type: integer
                  venues_collected:
                    type: array
                  venues_in_instrument_registry:
                    type: array
                  venues_registry_only:
                    type: array
                  fields:
                    type: array
                  status_labels:
                    type: object
                  status_buckets:
                    type: object
                  listing_source:
                    type: object
                  declaration:
                    type: object
                  declaration_conflicts:
                    type: array
                  per_field:
                    type: object
                    description: 'Per tracked field: distribution, buckets, per_venue counts, symbols_with_at_least_one_venue.
                      Empty when status != ok.'
                  symbol:
                    type: string
                  venues:
                    type: object
                    description: 'Present only with ?symbol=: per-venue, per-field cell detail for that
                      one symbol.'
                  not_claimed:
                    type: array
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: window_seconds
        in: query
        description: Lookback window in seconds, clamped to [3600, 604800].
        schema:
          type: integer
          default: 86400
          minimum: 3600
          maximum: 604800
      - name: symbol
        in: query
        description: Restrict to one symbol's per-venue/per-field detail instead of the full matrix. Alphanumeric
          plus '_'/'-', max 24 chars.
        schema:
          type: string
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Derivatives
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_coverage
  /v1/defillama/all:
    get:
      summary: All DeFiLlama data
      description: Every DeFiLlama dataset in one payload. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_all
  /v1/defillama/borrow-rates:
    get:
      summary: Borrow rates
      description: Lending-market borrow rates. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_borrow_rates
  /v1/defillama/bridges:
    get:
      summary: Bridge volumes
      description: Cross-chain bridge volume. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_bridges
  /v1/defillama/derivatives:
    get:
      summary: Perp DEX volumes
      description: Perpetual DEX volume rankings. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_derivatives
  /v1/defillama/fees:
    get:
      summary: Protocol fees
      description: Protocol fee and revenue rankings. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_fees
  /v1/defillama/hacks:
    get:
      summary: Hacks
      description: Logged protocol exploits and amounts lost. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_hacks
  /v1/defillama/momentum:
    get:
      summary: Price momentum
      description: Cross-token price momentum. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_momentum
  /v1/defillama/raises:
    get:
      summary: Fundraises
      description: Recent protocol fundraises. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_raises
  /v1/defillama/stablecoin-chains:
    get:
      summary: Stablecoins by chain
      description: Stablecoin supply broken down by chain. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_stablecoin_chains
  /v1/defillama/treasuries:
    get:
      summary: Protocol treasuries
      description: Protocol treasury holdings. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_treasuries
  /v1/defillama/unlocks:
    get:
      summary: Token unlocks
      description: Upcoming token unlock schedule. Sourced from DeFiLlama.
      responses:
        '451':
          description: Withheld for licence reasons. DeFiLlama's terms permit only personal, non-commercial
            use and forbid republishing the data in any form; this endpoint therefore refuses every caller,
            including authenticated ones, before any tier check. The body carries error=withheld_for_licence
            and the condition under which it would be re-enabled.
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security: []
      tags:
      - DeFiLlama
      x-auth: n/a
      x-tier: withheld
      x-withheld:
        reason: licence
        source: defillama
        reversible_with: DEFILLAMA_SERVE_PUBLICLY=1 once written permission exists
      operationId: get_v1_defillama_unlocks
  /v1/derivatives/detail:
    get:
      summary: Derivatives detail
      description: Full per-exchange derivatives detail for one symbol.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Derivatives
      x-auth: required
      x-tier: Pro (15,000 calls/day)
      operationId: get_v1_derivatives_detail
  /v1/derivatives/funding-arb:
    get:
      summary: Funding arbitrage table
      description: Cross-exchange funding spreads ranked by annualised carry.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      parameters:
      - name: limit
        in: query
        description: Max rows returned.
        schema:
          type: integer
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Derivatives
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_derivatives_funding_arb
  /v1/derivatives/funding-heatmap:
    get:
      summary: Funding heatmap
      description: Funding-rate heatmap across exchanges. Anonymous callers get the first 10 heatmap rows.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  heatmap:
                    type: array
        '429':
          description: Rate limit exceeded
        '400':
          description: 'error=non_canonical_path: Request paths must be canonical: no ''.'' or ''..''
            segments, no empty segments (''//''), no backslashes, and no percent-encoded ''.'', ''/''
            or ''\''. Send the path as documented. Refused before routing, on every route; `reason` is
            one of dot_segment, empty_segment, backslash, encoded_separator. The query string is never
            checked; one trailing slash and any letter case are accepted.'
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Derivatives
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      - XAU
      - XAG
      operationId: get_v1_derivatives_funding_heatmap
  /v1/derivatives/heatmap:
    get:
      summary: Derivatives heatmap
      description: Funding heatmap (authenticated alias of /v1/derivatives/funding-heatmap).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
[...]
