openapi: 3.0.3
info:
  title: Smart Money API
  version: 1.0.0
  description: |-
    Real-time smart-money intelligence from smartmoneyapi.com: cross-exchange derivatives aggregation (Bybit, Binance, Hyperliquid), 2000+ tracked whale wallets, liquidation streams, options, ETF flows, on-chain metrics and news intelligence. Public endpoints work without a key (reduced rows / per-IP throttle); an X-API-Key unlocks tier quotas and the gated endpoints.

    Free tier: 100 calls/day, 2/minute, BTC, ETH, SOL only, no data delay.

    Every operation carries x-auth (none|required) and x-tier, both derived from the gateway source and plans.json rather than written by hand. Generated by ops/gen_openapi.py.

    HOW THIS FILE IS PRODUCED — it is generated, never hand-edited.

    It is a filtered mirror of the document the API itself serves at https://smartmoneyapi.com/openapi.json, emitted by tools/build_public_spec.py in github.com/tashiardit/smartmoneyapi-docs. An operation from the live document appears here iff all three hold:

      1. The method is GET. This mirror is a read-only DATA contract; nothing that mutates state or account configuration is published, so a client generated from this file cannot change anything in an account.
      2. It carries x-auth and x-tier. Upstream those are derived from the gateway's own public-endpoint set and from plans.json rather than written by hand, so the gating printed on each operation here is the gating the server enforces.
      3. Its namespace is not account-management or internal — the withheld set is listed in tools/build_public_spec.py with a reason for each, and covers routes that act on your account (alerts, webhooks, watchlist, portfolio, preferences, referrals, usage, telegram, assistant, purchases, socket tickets) or on our own operations.

    One stated exception to (1): the /rpc/v1/* JSON-RPC proxies are POST because JSON-RPC is a POST protocol, not because they change anything of ours. They proxy read-only node calls, so they are published.

    Paid tiers ARE published: you should be able to read the exact shape of what a subscription returns before paying for it. Per-operation x-auth says whether a key is needed at all; x-tier names the plan that unlocks it. Public operations answer without a key at a reduced row cap and a per-IP throttle.

    Mirror generated 2026-08-28 from https://smartmoneyapi.com/openapi.json (read from a local copy): 207 of 263 live paths.
  contact:
    url: https://smartmoneyapi.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.smartmoneyapi.com
security:
- ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /openapi.json:
    get:
      summary: This OpenAPI document
      description: The machine-readable OpenAPI 3 description of this API. Served by the gateway and regenerated
        by ops/gen_openapi.py.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  components:
                    type: object
                  info:
                    type: object
                  openapi:
                    type: string
                  paths:
                    type: object
                  security:
                    type: array
                  servers:
                    type: array
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Meta
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /rpc/v1/avax-c:
    post:
      summary: Avalanche C-Chain JSON-RPC
      description: JSON-RPC proxy to the Avalanche C-Chain. rpc_ key required.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
  /rpc/v1/avax-info:
    post:
      summary: Avalanche info JSON-RPC
      description: JSON-RPC proxy to the Avalanche info API. rpc_ key required.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
  /rpc/v1/avax-p:
    post:
      summary: Avalanche P-Chain JSON-RPC
      description: JSON-RPC proxy to the Avalanche P-Chain. rpc_ key required.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
  /rpc/v1/avax-x:
    post:
      summary: Avalanche X-Chain JSON-RPC
      description: JSON-RPC proxy to the Avalanche X-Chain. rpc_ key required.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
  /rpc/v1/bsc:
    post:
      summary: BSC JSON-RPC
      description: JSON-RPC proxy to the self-hosted BSC full node. Authenticated with a dedicated rpc_
        key, NOT the main API key, and metered separately from the plans.json call quotas.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - JSON-RPC
      x-auth: required
      x-tier: rpc key (metered separately)
  /rpc/v1/health:
    get:
      summary: RPC health
      description: Health of the resold BSC/Avalanche JSON-RPC endpoints. Public.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: object
                  plans:
                    type: array
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - JSON-RPC
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/analysis:
    get:
      summary: AI market analysis
      description: Latest AI-written market commentary over the aggregated data. Commentary only — it
        is not a prediction and carries no measured edge.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Intelligence
      x-auth: required
      x-tier: Pro (15,000 calls/day)
  /v1/analysis/status:
    get:
      summary: AI analysis status
      description: Freshness and availability of the AI analysis loop.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  as_of:
                    type: string
                  cached_count:
                    type: integer
                  engine:
                    type: string
                  fresh_count:
                    type: integer
                  full_analysis:
                    type: object
                  note:
                    type: string
                  requested_count:
                    type: integer
                  stale_after_seconds:
                    type: integer
                  symbols:
                    type: array
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Intelligence
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/confirm:
    get:
      summary: Smart-money confirmation
      description: 'Core smart-money confirmation for a symbol: verdict, composite score, confidence (HIGH/MEDIUM/LOW),
        component scores and reasons (proxied to the aggregation daemon, then tier-enriched with multi-timeframe
        views, AI analysis and Kelly sizing). Free tier: BTC only, delayed response, some fields stripped.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Daemon confirmation body (verdict, confidence, composite, reasons, component
                  scores) plus tier-dependent multi_timeframe, ai_analysis and kelly_sizing enrichments.
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      - name: direction
        in: query
        description: Trade direction to confirm.
        schema:
          type: string
          default: long
          enum:
          - long
          - short
      - name: account_size
        in: query
        description: Account size in USD for Kelly position sizing (Pro only).
        schema:
          type: number
      x-tier: Free (100 calls/day)
      tags:
      - Signals
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
  /v1/copy-trading/overview:
    get:
      summary: Copy-trading overview
      description: 'Aggregate stats for the latest whale-position snapshot: active wallets, total positions,
        realized PnL, win rate.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_wallets:
                    type: integer
                  total_positions:
                    type: integer
                  snapshot_ts:
                    type: integer
                  performance:
                    type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      x-tier: Pro (15,000 calls/day)
      tags:
      - Copy-trading
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
  /v1/copy-trading/performance:
    get:
      summary: Copy-trading per-symbol performance
      description: Per-symbol aggregate PnL across all tracked whale wallets in the latest snapshot.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      x-tier: Pro (15,000 calls/day)
      tags:
      - Copy-trading
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
  /v1/copy-trading/positions:
    get:
      summary: Whale positions
      description: All whale positions in the latest snapshot, ordered by USD value.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  positions:
                    type: array
                  snapshot_ts:
                    type: integer
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: limit
        in: query
        description: Max positions, capped at 1000.
        schema:
          type: integer
          default: 200
          maximum: 1000
      x-tier: Pro (15,000 calls/day)
      tags:
      - Copy-trading
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
  /v1/copy-trading/shadow:
    get:
      summary: Shadow book
      description: The shadow (paper) copy-trading book. Published together with the measured verdict
        that the v3 overlay showed no durable out-of-sample edge and is not shipped as a product.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Copy-trading
      x-auth: required
      x-tier: Pro (15,000 calls/day)
  /v1/copy-trading/wallets:
    get:
      summary: Tracked whale wallets
      description: Distinct whale wallets in the latest snapshot with position counts, total value and
        PnL.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                  snapshot_ts:
                    type: integer
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      x-tier: Pro (15,000 calls/day)
      tags:
      - Copy-trading
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
  /v1/cot/comparison:
    get:
      summary: COT comparison
      description: COT positioning compared across the tracked contracts.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  BTC:
                    type: object
                  ETH: {}
                  relative_strength: {}
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/cot/history:
    get:
      summary: COT history
      description: Historical COT positioning series.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                  meta:
                    type: object
                  symbol:
                    type: string
                  updated:
                    type: integer
                  weeks:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      - name: weeks
        in: query
        description: Weeks of history.
        schema:
          type: integer
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/cot/summary:
    get:
      summary: COT summary
      description: CFTC Commitments of Traders positioning summary.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: object
                  macd_confirmation:
                    type: object
                  meta:
                    type: object
                  net_change:
                    type: integer
                  net_long:
                    type: integer
                  open_interest:
                    type: integer
                  pct_long:
                    type: number
                  pct_short:
                    type: number
                  report_date:
                    type: string
                  signal:
                    type: string
                  symbol:
                    type: string
                  trend_4w:
                    type: array
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/cot/trend:
    get:
      summary: COT trend
      description: Trend in COT net positioning.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_net_long:
                    type: integer
                  divergence:
                    type: string
                  extreme:
                    type: string
                  hedger_net:
                    type: integer
                  mean_net_long:
                    type: integer
                  momentum_4w:
                    type: integer
                  percentile:
                    type: number
                  speculator_net:
                    type: integer
                  std_dev:
                    type: integer
                  symbol:
                    type: string
                  trend_series:
                    type: array
                  updated:
                    type: integer
                  weeks:
                    type: integer
                  z_score:
                    type: number
        '429':
          description: Rate limit exceeded
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - COT
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/all:
    get:
      summary: All DeFiLlama data
      description: Every DeFiLlama dataset in one payload. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  borrow_rates:
                    type: object
                  bridges:
                    type: object
                  derivatives:
                    type: object
                  fees:
                    type: object
                  hacks:
                    type: object
                  options:
                    type: object
                  pools:
                    type: object
                  price_momentum:
                    type: object
                  raises:
                    type: object
                  stablecoin_chains:
                    type: object
                  treasuries:
                    type: object
                  unlocks:
                    type: object
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/borrow-rates:
    get:
      summary: Borrow rates
      description: Lending-market borrow rates. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - DeFiLlama
      x-auth: required
      x-tier: Trader (3,000 calls/day)
  /v1/defillama/bridges:
    get:
      summary: Bridge volumes
      description: Cross-chain bridge volume. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  data_is_placeholder:
                    type: boolean
                  error:
                    type: string
                  remediation:
                    type: string
                  source_note:
                    type: string
                  status:
                    type: string
                  top_bridges:
                    type: array
                  total_24h:
                    type: integer
                  total_7d:
                    type: integer
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/derivatives:
    get:
      summary: Perp DEX volumes
      description: Perpetual DEX volume rankings. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  data_is_placeholder:
                    type: boolean
                  error:
                    type: string
                  remediation:
                    type: string
                  source_note:
                    type: string
                  status:
                    type: string
                  top_protocols:
                    type: array
                  total_24h:
                    type: integer
                  total_7d:
                    type: integer
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/fees:
    get:
      summary: Protocol fees
      description: Protocol fee and revenue rankings. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  change_1d:
                    type: number
                  top_protocols:
                    type: array
                  total_fees_24h:
                    type: number
                  total_fees_7d:
                    type: number
                  total_revenue_24h:
                    type: integer
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/hacks:
    get:
      summary: Hacks
      description: Logged protocol exploits and amounts lost. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  recent_hacks:
                    type: array
                  total_30d_usd:
                    type: number
                  total_all_time_usd:
                    type: number
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/momentum:
    get:
      summary: Price momentum
      description: Cross-token price momentum. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  coins:
                    type: array
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/raises:
    get:
      summary: Fundraises
      description: Recent protocol fundraises. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  data_is_placeholder:
                    type: boolean
                  error:
                    type: string
                  recent_raises:
                    type: array
                  remediation:
                    type: string
                  source_note:
                    type: string
                  status:
                    type: string
                  total_raised_30d_usd:
                    type: integer
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/stablecoin-chains:
    get:
      summary: Stablecoins by chain
      description: Stablecoin supply broken down by chain. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                  total_stablecoin_usd:
                    type: number
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/defillama/treasuries:
    get:
      summary: Protocol treasuries
      description: Protocol treasury holdings. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - DeFiLlama
      x-auth: required
      x-tier: Trader (3,000 calls/day)
  /v1/defillama/unlocks:
    get:
      summary: Token unlocks
      description: Upcoming token unlock schedule. Sourced from DeFiLlama.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  data_is_placeholder:
                    type: boolean
                  error:
                    type: string
                  events:
                    type: array
                  remediation:
                    type: string
                  source_note:
                    type: string
                  status:
                    type: string
                  total:
                    type: integer
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DeFiLlama
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/derivatives/detail:
    get:
      summary: Derivatives detail
      description: Full per-exchange derivatives detail for one symbol.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Derivatives
      x-auth: required
      x-tier: Pro (15,000 calls/day)
  /v1/derivatives/funding-arb:
    get:
      summary: Funding arbitrage table
      description: Cross-exchange funding spreads ranked by annualised carry.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  limited:
                    type: boolean
                  opportunities:
                    type: array
                  public:
                    type: boolean
                  scanned_symbols:
                    type: integer
                  ts:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: limit
        in: query
        description: Max rows returned.
        schema:
          type: integer
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Derivatives
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/derivatives/funding-heatmap:
    get:
      summary: Funding heatmap
      description: Funding-rate heatmap across exchanges. Anonymous callers get the first 10 heatmap rows.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  heatmap:
                    type: array
                  public:
                    type: boolean
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Derivatives
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/derivatives/heatmap:
    get:
      summary: Derivatives heatmap
      description: Funding heatmap (authenticated alias of /v1/derivatives/funding-heatmap).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Derivatives
      x-auth: required
      x-tier: Trader (3,000 calls/day)
  /v1/derivatives/oi-rankings:
    get:
      summary: Open-interest rankings
      description: Open-interest change rankings. Anonymous callers get a fixed 24h/top-10 view; authenticated
        callers can choose timeframe/limit.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  gainers:
                    type: array
                  losers:
                    type: array
                  public:
                    type: boolean
                  timeframe:
                    type: string
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: timeframe
        in: query
        description: Ranking window (authenticated only).
        schema:
          type: string
          default: 24h
      - name: limit
        in: query
        description: Max rows, capped at 50 (authenticated only).
        schema:
          type: integer
          default: 20
          maximum: 50
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Derivatives
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/derivatives/screener:
    get:
      summary: Derivatives screener
      description: 'Cross-exchange derivatives screener (500+ symbols): funding, open interest, long/short
        ratio, signals. Anonymous callers get a fixed top-10 by OI (response carries public:true, limited:true);
        authenticated callers can sort/filter up to 200 rows.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: Screener rows plus total_count; anonymous responses include public and limited
                  flags.
                properties:
                  limited:
                    type: boolean
                  meta:
                    type: object
                  public:
                    type: boolean
                  sort_by:
                    type: string
                  symbols:
                    type: array
                  total_count:
                    type: integer
                  unmeasured_for_sort:
                    type: integer
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: sort
        in: query
        description: Sort field (authenticated only).
        schema:
          type: string
          default: oi_usd
      - name: dir
        in: query
        description: Sort direction (authenticated only).
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: limit
        in: query
        description: Max rows, capped at 200 (authenticated only).
        schema:
          type: integer
          default: 50
          maximum: 200
      - name: min_oi
        in: query
        description: Minimum open interest in USD (authenticated only).
        schema:
          type: number
          default: 0
      - name: signal
        in: query
        description: Filter by signal type (authenticated only).
        schema:
          type: string
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Derivatives
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/dex/pair:
    get:
      summary: Pair details
      description: Details for a single DEX pair.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
      parameters:
      - name: chain
        in: query
        description: Chain slug (e.g. ethereum, bsc).
        schema:
          type: string
        required: true
      - name: address
        in: query
        description: Pair contract address.
        schema:
          type: string
        required: true
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DEX
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
  /v1/dex/search:
    get:
      summary: Search DEX pairs
      description: Search DexScreener pairs by name/symbol.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
      parameters:
      - name: q
        in: query
        description: Search query.
        schema:
          type: string
        required: true
      - name: limit
        in: query
        description: Max pairs.
        schema:
          type: integer
          default: 20
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DEX
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
  /v1/dex/token:
    get:
      summary: Token pairs
      description: All DEX pairs for a token address.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
      parameters:
      - name: address
        in: query
        description: Token contract address.
        schema:
          type: string
        required: true
      - name: limit
        in: query
        description: Max pairs.
        schema:
          type: integer
          default: 10
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DEX
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
  /v1/dex/trending:
    get:
      summary: Trending DEX pairs
      description: Trending pairs from DexScreener.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    pair_address:
                      type: string
                    chain:
                      type: string
                    dex:
                      type: string
                    base_token:
                      type: object
                    quote_token:
                      type: object
                    price_usd:
                      type: number
                    price_change_5m:
                      type: number
                    price_change_1h:
                      type: number
                    price_change_6h:
                      type: number
                    price_change_24h:
                      type: number
                    volume_24h:
                      type: number
                    liquidity_usd:
                      type: number
                    fdv:
                      type: number
                    created_at:
                      type: integer
                    url:
                      type: string
        '429':
          description: Rate limit exceeded
      parameters:
      - name: limit
        in: query
        description: Max pairs.
        schema:
          type: integer
          default: 20
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - DEX
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/equity-flow:
    get:
      summary: Equity flow stats
      description: Coverage and freshness of the free equity options-flow dataset.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  cycle_tickers_cap:
                    type: integer
                  enabled:
                    type: boolean
                  executor_workers:
                    type: integer
                  expiries_per_ticker:
                    type: integer
                  gex_snapshots:
                    type: integer
                  last_gex_ts:
                    type: integer
                  last_unusual_ts:
                    type: integer
                  scan_interval_s:
                    type: integer
                  tickers_with_unusual:
                    type: integer
                  tracked_tickers:
                    type: integer
                  unusual_options_rows:
                    type: integer
                  yfinance_available:
                    type: boolean
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Equities
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/equity-flow/dark-pool:
    get:
      summary: Dark-pool prints
      description: Off-exchange (dark-pool) prints for the tracked tickers.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker.
        schema:
          type: string
      - name: limit
        in: query
        description: Max rows returned.
        schema:
          type: integer
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Equities
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
  /v1/equity-flow/gex:
    get:
      summary: Equity gamma exposure
      description: Dealer gamma exposure by strike for one ticker.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
      parameters:
      - name: ticker
        in: query
        description: Ticker symbol.
        schema:
          type: string
        required: true
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Equities
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
  /v1/equity-flow/stats:
    get:
      summary: Equity flow stats
      description: Alias of /v1/equity-flow.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  cycle_tickers_cap:
                    type: integer
                  enabled:
                    type: boolean
                  executor_workers:
                    type: integer
                  expiries_per_ticker:
                    type: integer
                  gex_snapshots:
                    type: integer
                  last_gex_ts:
                    type: integer
                  last_unusual_ts:
                    type: integer
                  scan_interval_s:
                    type: integer
                  tickers_with_unusual:
                    type: integer
                  tracked_tickers:
                    type: integer
                  unusual_options_rows:
                    type: integer
                  yfinance_available:
                    type: boolean
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Equities
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/equity-flow/unusual-activity:
    get:
      summary: Unusual options activity
      description: Unusual equity options prints ranked by a size/open-interest score.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ticker:
                      type: string
                    contract_type:
                      type: string
                    strike:
                      type: number
                    expiry_date:
                      type: string
                    volume:
                      type: integer
                    open_interest:
                      type: integer
                    vol_oi_ratio:
                      type: number
                    last_price:
                      type: number
                    premium:
                      type: number
                    iv:
                      type: number
                    in_the_money:
                      type: integer
                    unusualness:
                      type: number
                    spot_price:
                      type: number
                    snapshot_ts:
                      type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker.
        schema:
          type: string
      - name: contract_type
        in: query
        description: Contract type.
        schema:
          type: string
          enum:
          - call
          - put
      - name: min_score
        in: query
        description: Minimum unusualness score.
        schema:
          type: number
      - name: limit
        in: query
        description: Max rows returned.
        schema:
          type: integer
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Equities
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/etf/flows:
    get:
      summary: ETF flows
      description: Spot BTC/ETH ETF daily flows with per-fund breakdown (SoSoValue).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  asset:
                    type: string
                  current:
                    type: object
                  etf_type:
                    type: string
                  funds:
                    type: array
                  history_recent:
                    type: array
                  updated:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: asset
        in: query
        description: ETF asset.
        schema:
          type: string
          default: BTC
          enum:
          - BTC
          - ETH
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - ETF
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/etf/history:
    get:
      summary: ETF flow history
      description: Historical spot-ETF flow series.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: asset
        in: query
        description: ETF asset.
        schema:
          type: string
          default: BTC
          enum:
          - BTC
          - ETH
      - name: days
        in: query
        description: Look-back window in days.
        schema:
          type: integer
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - ETF
      x-auth: required
      x-tier: Pro (15,000 calls/day)
  /v1/exchange-health:
    get:
      summary: Exchange health
      description: Per-exchange latency/error status from live probes (falls back to daemon health + recent
        data recency).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  exchanges:
                    type: object
                  overall:
                    type: string
                  ts:
                    type: integer
        '429':
          description: Rate limit exceeded
      x-tier: public
      tags:
      - Meta
      security:
      - {}
      - ApiKeyAuth: []
      x-auth: none
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/flow/dark-pool:
    get:
      summary: Dark-pool flow (paid feed)
      description: Dark-pool prints from the paid Unusual Whales feed.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker.
        schema:
          type: string
      - name: limit
        in: query
        description: Max rows returned.
        schema:
          type: integer
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Equities
      x-auth: required
      x-tier: Pro (15,000 calls/day)
  /v1/flow/gex:
    get:
      summary: GEX (paid feed)
      description: Gamma exposure from the paid Unusual Whales feed.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: ticker
        in: query
        description: Ticker symbol.
        schema:
          type: string
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Equities
      x-auth: required
      x-tier: Pro (15,000 calls/day)
  /v1/flow/status:
    get:
      summary: Paid flow status
      description: Availability of the paid Unusual Whales flow feed.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                  last_check: {}
                  reason:
                    type: string
                  source:
                    type: string
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Equities
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/flow/unusual:
    get:
      summary: Unusual flow (paid feed)
      description: Unusual options flow from the paid Unusual Whales feed.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: ticker
        in: query
        description: Filter by ticker.
        schema:
          type: string
      - name: limit
        in: query
        description: Max rows returned.
        schema:
          type: integer
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Equities
      x-auth: required
      x-tier: Pro (15,000 calls/day)
  /v1/flows:
    get:
      summary: Aggregate flow
      description: Aggregated smart-money flow across the tracked venues.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: symbol
        in: query
        description: Base symbol, e.g. BTC.
        schema:
          type: string
          default: BTC
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      tags:
      - Intelligence
      x-auth: required
      x-tier: Pro (15,000 calls/day)
  /v1/funding-arb:
    get:
      summary: Funding arbitrage scanner
      description: 'Cross-exchange funding-rate arbitrage opportunities. Trader tier: top-1 opportunity
        without spread history; Pro tier: full list.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  opportunities:
                    type: array
                  scanned_symbols:
                    type: integer
                  min_spread_filter:
                    type: number
                  ts:
                    type: number
        '429':
          description: Rate limit exceeded
        '401':
          description: Missing or invalid API key
        '402':
          description: Endpoint not included in your plan (response carries an upgrade CTA)
      parameters:
      - name: symbol
        in: query
        description: Filter opportunities by symbol.
        schema:
          type: string
      - name: min_spread
        in: query
        description: Minimum funding spread.
        schema:
          type: number
          default: 0.01
      x-tier: Trader (3,000 calls/day)
      tags:
      - Trading tools
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      x-auth: required
  /v1/health:
    get:
      summary: Gateway health
      description: Simple gateway liveness check.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  ts:
                    type: number
                example:
                  status: ok
                  ts: 1751328000.0
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Meta
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/historical/funding:
    get:
      summary: Funding-rate history
      description: Historical funding rates (Binance).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  data:
                    type: array
                  days:
                    type: integer
                  symbol:
                    type: string
        '429':
          description: Rate limit exceeded
      parameters:
      - name: symbol
        in: query
        description: Perpetual symbol.
        schema:
          type: string
          default: BTCUSDT
      - name: days
        in: query
        description: Days of history.
        schema:
          type: integer
          default: 30
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Historical
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/historical/long-short:
    get:
      summary: Long/short ratio history
      description: Historical long/short account ratio (Binance).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  data:
                    type: array
                  days:
                    type: integer
                  symbol:
                    type: string
        '429':
          description: Rate limit exceeded
      parameters:
      - name: symbol
        in: query
        description: Perpetual symbol.
        schema:
          type: string
          default: BTCUSDT
      - name: days
        in: query
        description: Days of history.
        schema:
          type: integer
          default: 30
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Historical
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/historical/market:
    get:
      summary: Market OHLCV history
      description: Historical market data by CoinGecko coin id.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  coin:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                  days:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: coin
        in: query
        description: CoinGecko coin id.
        schema:
          type: string
          default: bitcoin
      - name: days
        in: query
        description: Days of history.
        schema:
          type: integer
          default: 30
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Historical
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/historical/open-interest:
    get:
      summary: Open-interest history
      description: Historical open interest (Binance).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  data:
                    type: array
                  days:
                    type: integer
                  symbol:
                    type: string
        '429':
          description: Rate limit exceeded
      parameters:
      - name: symbol
        in: query
        description: Perpetual symbol.
        schema:
          type: string
          default: BTCUSDT
      - name: days
        in: query
        description: Days of history.
        schema:
          type: integer
          default: 30
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - Historical
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/history/confirmations:
    get:
      summary: 'Deep history: confirmations'
      description: 'Federated newest-first read of the confirmations table across the live database and
        the consolidated cold archive, in one response. Public, keyless; throttled per IP. Filters accepted:
        confidence, direction, source, symbol. A filter that is neither index-served nor small enough
        to scan within budget is REJECTED with 400 naming the supported keys — it is never silently dropped,
        because dropping it would return rows that do not match the query the caller sees echoed back.
        GET /v1/history/coverage reports the index-served set per table.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: 'rows is newest-first and de-duplicated (live wins on overlap). coverage[]
                  partitions the requested window into sub-ranges with a state: covered / not_recorded
                  / not_examined / deadline_exceeded / error — an unanswered period is never returned
                  as a quiet one. window echoes the SNAPPED window that was actually scanned (requests
                  are snapped to a window_grain_s grid).'
                properties:
                  count:
                    type: integer
                  coverage:
                    type: array
                  index_available:
                    type: boolean
                  limit:
                    type: integer
                  live_starts_at:
                    type: integer
                  live_state:
                    type: string
                  partition_cap:
                    type: integer
                  rows:
                    type: array
                  shard_index_available:
                    type: boolean
                  sources:
                    type: array
                  table:
                    type: string
                  took_ms:
                    type: number
                  truncated:
                    type: boolean
                  window:
                    type: object
                  window_grain_s:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: days
        in: query
        description: How far back the window starts, in days, when `from` is omitted (1-3650).
        schema:
          type: integer
          default: 7
          minimum: 1
          maximum: 3650
      - name: from
        in: query
        description: Window start, epoch seconds. Overrides `days`.
        schema:
          type: integer
      - name: to
        in: query
        description: Window end, epoch seconds. Defaults to now.
        schema:
          type: integer
      - name: limit
        in: query
        description: Max rows returned (1-5000). `truncated` says whether the cap was hit.
        schema:
          type: integer
          default: 500
          minimum: 1
          maximum: 5000
      - name: confidence
        in: query
        description: Filter on confidence (exact match).
        schema:
          type: string
      - name: direction
        in: query
        description: Filter on direction (exact match).
        schema:
          type: string
      - name: source
        in: query
        description: Filter on source (exact match).
        schema:
          type: string
      - name: symbol
        in: query
        description: Filter on symbol (exact match).
        schema:
          type: string
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - History
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/history/coverage:
    get:
      summary: Deep-history coverage
      description: 'What history exists per table, before you query any of it: the live database range,
        the consolidated archive range, raw shards not yet consolidated, and which filter keys are index-served.
        Read this to draw an honest ''data from X to Y'' instead of an empty chart. Both index states
        are reported so a null archive range can be told apart from an unreadable index. Public, keyless;
        throttled per IP.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: 'Per table: live range/rows and live_state, consolidated archive range, raw
                  (not-yet-consolidated) shard range, and the index-served filter keys. index_available=false
                  means the archive index could not be read — NOT that there is no archive.'
                properties:
                  index_available:
                    type: boolean
                  manifest_present:
                    type: boolean
                  partition_cap:
                    type: integer
                  partition_dir:
                    type: string
                  query_budget_s:
                    type: number
                  shard_index_available:
                    type: boolean
                  source_budget_s:
                    type: number
                  tables:
                    type: object
                  unindexed_partitions:
                    type: array
        '429':
          description: Rate limit exceeded
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - History
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/history/derivatives:
    get:
      summary: 'Deep history: derivatives'
      description: 'Federated newest-first read of the derivatives table across the live database and
        the consolidated cold archive, in one response. Public, keyless; throttled per IP. Filters accepted:
        exchange, symbol. A filter that is neither index-served nor small enough to scan within budget
        is REJECTED with 400 naming the supported keys — it is never silently dropped, because dropping
        it would return rows that do not match the query the caller sees echoed back. GET /v1/history/coverage
        reports the index-served set per table.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: 'rows is newest-first and de-duplicated (live wins on overlap). coverage[]
                  partitions the requested window into sub-ranges with a state: covered / not_recorded
                  / not_examined / deadline_exceeded / error — an unanswered period is never returned
                  as a quiet one. window echoes the SNAPPED window that was actually scanned (requests
                  are snapped to a window_grain_s grid).'
                properties:
                  count:
                    type: integer
                  coverage:
                    type: array
                  index_available:
                    type: boolean
                  limit:
                    type: integer
                  live_starts_at:
                    type: integer
                  live_state:
                    type: string
                  partition_cap:
                    type: integer
                  rows:
                    type: array
                  shard_index_available:
                    type: boolean
                  sources:
                    type: array
                  table:
                    type: string
                  took_ms:
                    type: number
                  truncated:
                    type: boolean
                  window:
                    type: object
                  window_grain_s:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: days
        in: query
        description: How far back the window starts, in days, when `from` is omitted (1-3650).
        schema:
          type: integer
          default: 7
          minimum: 1
          maximum: 3650
      - name: from
        in: query
        description: Window start, epoch seconds. Overrides `days`.
        schema:
          type: integer
      - name: to
        in: query
        description: Window end, epoch seconds. Defaults to now.
        schema:
          type: integer
      - name: limit
        in: query
        description: Max rows returned (1-5000). `truncated` says whether the cap was hit.
        schema:
          type: integer
          default: 500
          minimum: 1
          maximum: 5000
      - name: exchange
        in: query
        description: Filter on exchange (exact match).
        schema:
          type: string
      - name: symbol
        in: query
        description: Filter on symbol (exact match).
        schema:
          type: string
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - History
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/history/derivatives_agg:
    get:
      summary: 'Deep history: derivatives_agg'
      description: 'Federated newest-first read of the derivatives_agg table across the live database
        and the consolidated cold archive, in one response. Public, keyless; throttled per IP. Filters
        accepted: symbol. A filter that is neither index-served nor small enough to scan within budget
        is REJECTED with 400 naming the supported keys — it is never silently dropped, because dropping
        it would return rows that do not match the query the caller sees echoed back. GET /v1/history/coverage
        reports the index-served set per table.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: 'rows is newest-first and de-duplicated (live wins on overlap). coverage[]
                  partitions the requested window into sub-ranges with a state: covered / not_recorded
                  / not_examined / deadline_exceeded / error — an unanswered period is never returned
                  as a quiet one. window echoes the SNAPPED window that was actually scanned (requests
                  are snapped to a window_grain_s grid).'
                properties:
                  count:
                    type: integer
                  coverage:
                    type: array
                  index_available:
                    type: boolean
                  limit:
                    type: integer
                  live_starts_at:
                    type: integer
                  live_state:
                    type: string
                  partition_cap:
                    type: integer
                  rows:
                    type: array
                  shard_index_available:
                    type: boolean
                  sources:
                    type: array
                  table:
                    type: string
                  took_ms:
                    type: number
                  truncated:
                    type: boolean
                  window:
                    type: object
                  window_grain_s:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: days
        in: query
        description: How far back the window starts, in days, when `from` is omitted (1-3650).
        schema:
          type: integer
          default: 7
          minimum: 1
          maximum: 3650
      - name: from
        in: query
        description: Window start, epoch seconds. Overrides `days`.
        schema:
          type: integer
      - name: to
        in: query
        description: Window end, epoch seconds. Defaults to now.
        schema:
          type: integer
      - name: limit
        in: query
        description: Max rows returned (1-5000). `truncated` says whether the cap was hit.
        schema:
          type: integer
          default: 500
          minimum: 1
          maximum: 5000
      - name: symbol
        in: query
        description: Filter on symbol (exact match).
        schema:
          type: string
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - History
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/history/onchain:
    get:
      summary: 'Deep history: onchain'
      description: 'Federated newest-first read of the onchain table across the live database and the
        consolidated cold archive, in one response. Public, keyless; throttled per IP. Filters accepted:
        asset, metric. A filter that is neither index-served nor small enough to scan within budget is
        REJECTED with 400 naming the supported keys — it is never silently dropped, because dropping it
        would return rows that do not match the query the caller sees echoed back. GET /v1/history/coverage
        reports the index-served set per table.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: 'rows is newest-first and de-duplicated (live wins on overlap). coverage[]
                  partitions the requested window into sub-ranges with a state: covered / not_recorded
                  / not_examined / deadline_exceeded / error — an unanswered period is never returned
                  as a quiet one. window echoes the SNAPPED window that was actually scanned (requests
                  are snapped to a window_grain_s grid).'
                properties:
                  count:
                    type: integer
                  coverage:
                    type: array
                  index_available:
                    type: boolean
                  limit:
                    type: integer
                  live_starts_at:
                    type: integer
                  live_state:
                    type: string
                  partition_cap:
                    type: integer
                  rows:
                    type: array
                  shard_index_available:
                    type: boolean
                  sources:
                    type: array
                  table:
                    type: string
                  took_ms:
                    type: number
                  truncated:
                    type: boolean
                  window:
                    type: object
                  window_grain_s:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: days
        in: query
        description: How far back the window starts, in days, when `from` is omitted (1-3650).
        schema:
          type: integer
          default: 7
          minimum: 1
          maximum: 3650
      - name: from
        in: query
        description: Window start, epoch seconds. Overrides `days`.
        schema:
          type: integer
      - name: to
        in: query
        description: Window end, epoch seconds. Defaults to now.
        schema:
          type: integer
      - name: limit
        in: query
        description: Max rows returned (1-5000). `truncated` says whether the cap was hit.
        schema:
          type: integer
          default: 500
          minimum: 1
          maximum: 5000
      - name: asset
        in: query
        description: Filter on asset (exact match).
        schema:
          type: string
      - name: metric
        in: query
        description: Filter on metric (exact match).
        schema:
          type: string
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - History
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/history/signal_log:
    get:
      summary: 'Deep history: signal_log'
      description: 'Federated newest-first read of the signal_log table across the live database and the
        consolidated cold archive, in one response. Public, keyless; throttled per IP. Filters accepted:
        direction, signal_type, source, symbol. A filter that is neither index-served nor small enough
        to scan within budget is REJECTED with 400 naming the supported keys — it is never silently dropped,
        because dropping it would return rows that do not match the query the caller sees echoed back.
        GET /v1/history/coverage reports the index-served set per table.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: 'rows is newest-first and de-duplicated (live wins on overlap). coverage[]
                  partitions the requested window into sub-ranges with a state: covered / not_recorded
                  / not_examined / deadline_exceeded / error — an unanswered period is never returned
                  as a quiet one. window echoes the SNAPPED window that was actually scanned (requests
                  are snapped to a window_grain_s grid).'
                properties:
                  count:
                    type: integer
                  coverage:
                    type: array
                  index_available:
                    type: boolean
                  limit:
                    type: integer
                  live_starts_at:
                    type: integer
                  live_state:
                    type: string
                  partition_cap:
                    type: integer
                  rows:
                    type: array
                  shard_index_available:
                    type: boolean
                  sources:
                    type: array
                  table:
                    type: string
                  took_ms:
                    type: number
                  truncated:
                    type: boolean
                  window:
                    type: object
                  window_grain_s:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: days
        in: query
        description: How far back the window starts, in days, when `from` is omitted (1-3650).
        schema:
          type: integer
          default: 7
          minimum: 1
          maximum: 3650
      - name: from
        in: query
        description: Window start, epoch seconds. Overrides `days`.
        schema:
          type: integer
      - name: to
        in: query
        description: Window end, epoch seconds. Defaults to now.
        schema:
          type: integer
      - name: limit
        in: query
        description: Max rows returned (1-5000). `truncated` says whether the cap was hit.
        schema:
          type: integer
          default: 500
          minimum: 1
          maximum: 5000
      - name: direction
        in: query
        description: Filter on direction (exact match).
        schema:
          type: string
      - name: signal_type
        in: query
        description: Filter on signal_type (exact match).
        schema:
          type: string
      - name: source
        in: query
        description: Filter on source (exact match).
        schema:
          type: string
      - name: symbol
        in: query
        description: Filter on symbol (exact match).
        schema:
          type: string
      security:
      - {}
      - ApiKeyAuth: []
      tags:
      - History
      x-auth: none
      x-tier: public
      x-free-tier-symbols:
      - BTC
      - ETH
      - SOL
      x-response-measured: '2026-08-28'
      x-response-note: Field names and types below were recorded from one real response on 2026-08-28,
        not written by hand. A field absent from that response is absent here even if the endpoint can
        return it, and optional fields are not marked required. Treat this as a floor, not a closed set.
  /v1/history/signal_outcomes:
    get:
      summary: 'Deep history: signal_outcomes'
      description: 'Federated newest-first read of the signal_outcomes table across the live database
        and the consolidated cold archive, in one response. Public, keyless; throttled per IP. Filters
        accepted: horizon. A filter that is neither index-served nor small enough to scan within budget
        is REJECTED with 400 naming the supported keys — it is never silently dropped, because dropping
        it would return rows that do not match the query the caller sees echoed back. GET /v1/history/coverage
        reports the index-served set per table.'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: 'rows is newest-first and de-duplicated (live wins on overlap). coverage[]
                  partitions the requested window into sub-ranges with a state: covered / not_recorded
                  / not_examined / deadline_exceeded / error — an unanswered period is never returned
                  as a quiet one. window echoes the SNAPPED window that was actually scanned (requests
                  are snapped to a window_grain_s grid).'
                properties:
                  count:
                    type: integer
                  coverage:
                    type: array
                  index_available:
                    type: boolean
                  limit:
                    type: integer
                  live_starts_at:
                    type: integer
                  live_state:
                    type: string
                  partition_cap:
                    type: integer
                  rows:
                    type: array
                  shard_index_available:
                    type: boolean
                  sources:
                    type: array
                  table:
                    type: string
                  took_ms:
                    type: number
                  truncated:
                    type: boolean
                  window:
                    type: object
                  window_grain_s:
                    type: integer
        '429':
          description: Rate limit exceeded
      parameters:
      - name: days
        in: query
[...]
